In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [16]:
data = pd.read_csv('/Users/mynimbus/Library/Mobile Documents/com~apple~CloudDocs/GitHub Uploads/StoreSight/0_data/Global_SuperStore_16.csv')
data.head()

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Returned
0,0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,...,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High,NaN
1,1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical,NaN
2,2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,...,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium,NaN
3,3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,...,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium,NaN
4,4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,...,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical,NaN

In [19]:
# Data types and non-null counts
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51290 non-null  int64
 1   Row ID          51290 non-null  int64
 2   Order ID        51290 non-null  object
 3   Order Date      51290 non-null  object
 4   Ship Date       51290 non-null  object
 5   Ship Mode       51290 non-null  object
 6   Customer ID     51290 non-null  object
 7   Customer Name   51290 non-null  object
 8   Segment         51290 non-null  object
 9   Postal Code     9994 non-null   float64
 10  City            51290 non-null  object
 11  State           51290 non-null  object
 12  Country         51290 non-null  object
 13  Region          51290 non-null  object
 14  Market          51290 non-null  object
 15  Product ID      51290 non-null  object
 16  Category        51290 non-null  object
 17  Sub-Category    51290 non-null  object
 18  Product Name    51290 non-null  object
 19  Sales           51290 non-null  float64
 20  Quantity        51290 non-null  int64
 21  Discount        51290 non-null  float64
 22  Profit          51290 non-null  float64
 23  Shipping Cost   51290 non-null  float64
 24  Order Priority  51290 non-null  object
 25  Returned        2202 non-null   object
dtypes: float64(5), int64(3), object(18)
memory usage: 10.2+ MB

In [18]:
# Summary statistics for numerical columns
data.describe()

,Unnamed: 0,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290.00000,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25644.50000,25645.50000,55190.379428,246.490581,3.476545,0.142908,28.610982,26.478567
std,14806.29199,14806.29199,32063.693350,487.565361,2.278766,0.212280,174.340972,57.251373
min,0.00000,1.00000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,1.002000
25%,12822.25000,12823.25000,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25644.50000,25645.50000,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38466.75000,38467.75000,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51289.00000,51290.00000,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [20]:
# Check for missing values
missing_data = data.isnull().sum()
missing_data_percentage = (missing_data / len(data)) * 100
print(f"Missing data percentage per column:\n{missing_data_percentage}")

Missing data percentage per column:
Unnamed: 0         0.000000
Row ID             0.000000
Order ID           0.000000
Order Date         0.000000
Ship Date          0.000000
Ship Mode          0.000000
Customer ID        0.000000
Customer Name      0.000000
Segment            0.000000
Postal Code       80.514720
City               0.000000
State              0.000000
Country            0.000000
Region             0.000000
Market             0.000000
Product ID         0.000000
Category           0.000000
Sub-Category       0.000000
Product Name       0.000000
Sales              0.000000
Quantity           0.000000
Discount           0.000000
Profit             0.000000
Shipping Cost      0.000000
Order Priority     0.000000
Returned          95.706765
dtype: float64